{% extends 'portfolio/layout.html' %}


{% block main %}
{% load static %}
<div class="container">
    <h2>Licenciatura</h2>
    <h3>Apresentação do Curso</h3>
    <article>
        <p>
        O curso de licenciatura em Engenharia Informática da Universidade Lusófona 
    forma licenciados capazes de assumir posições de destaque em projetos de 
    engenharia informática ou equipas de desenvolvimento e consultadoria, 
    na área da engenharia dos sistemas de informação, assumindo pela sua formação 
    e atitude papéis relevantes na geração de inovação e riqueza. Nesse sentido, 
    os estudantes obtêm as competências adequadas à conceção, realização e manutenção 
    de sistemas informáticos, programação de aplicações e de sistemas, 
    desenho arquiteturas de computação e comunicações, gestão de sistemas de informação 
    e de conhecimento, assim como à compreensão e resolução dos problemas associados.
</p>
    </article>
</div>
    
{% endblock %}