{% extends 'portfolio/layout.html' %}


{% block main %}
{% load static %}
<h2> TFC </h2>

<main>
        <div style="width: 250px;   height: 150px; padding: 25px;  margin: 10px; background-color: white; border-radius: 10px;  box-shadow: 5px 5px 15px grey;">
            <h2>O Estrangeiro</h2> <p>1942</p> <p>Albert Camus</p>
        </div>
        <div style="width: 250px;   height: 150px; padding: 25px;  margin: 10px; background-color: white; border-radius: 10px;  box-shadow: 5px 5px 15px grey;">
            <h2>O Estrangeiro</h2> <p>1942</p> <p>Albert Camus</p>
        </div>
        <div style="width: 250px;   height: 150px; padding: 25px;  margin: 10px; background-color: white; border-radius: 10px;  box-shadow: 5px 5px 15px grey;">
            <h2>O Estrangeiro</h2> <p>1942</p> <p>Albert Camus</p>
        </div>

</main>
    
{% endblock %}